body {
  margin:0px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-style: inherit;
}

h1, h2, h3, h4 {
	font-weight: 100;
	color: #3399FF;
}

.welcome-panel {
	background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/page3.jpg);
	margin-top: 50px;
	height: 200px;
	text-align: center;
	padding-top: 30px;
	color: white;
	font-weight: 200;
}

.welcome-panel h1 {
	color : white;
	margin-bottom: 20px;
}

.welcome-panel p {
	text-align: justify;
}

.menu-panel {
	text-align: center;
} 

#profile-photo {
	border: 1px solid white;
	width: 100px;
	height: 100px;
	border-radius: 50%;	
	padding: 3px;
}

#linkedin-link {
	margin:10px;
}

#linkedin-icon {
	width: 30px;
	height: 30px;
}

.navbar {
	/*background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/page3.jpg);*/
	background: white;
}

.nav-item {
	color:gray !important;
}

.nav-item:hover {
	color:#3399FF !important;
}

.main-container {
}

div.content-panel {
	min-height: 200px;
}

.content-panel .left-content-panel {
	border-right: 1px solid lightgray;
	min-height: 200px;
}

ul.navbar-nav {
	display:inline-block;
	float:none;
}

p {
	text-align: justify;
}
